<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Korex StyleHub</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Korex StyleHub" name="keywords">
    <meta content="Korex StyleHub" name="description">

   <!-- Favicon -->
   <link rel="icon" href="<%= process.env.BASE_URL || 'http://localhost:8080' %>/img/logo.PNG">

   <!-- Google Web Fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

   <!-- Font Awesome -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

   <!-- Libraries Stylesheet -->
   <link rel="stylesheet" type="text/css" href="<%= process.env.BASE_URL || 'http://localhost:8080' %>/lib/animate/animate.min.css">
   <link rel="stylesheet" type="text/css" href="<%= process.env.BASE_URL || 'http://localhost:8080' %>/lib/owlcarousel/assets/owl.carousel.min.css">

   <!-- Customized Bootstrap Stylesheet -->
   <link rel="stylesheet" type="text/css" href="<%= process.env.BASE_URL || 'http://localhost:8080' %>/css/style.css">
   <link rel="stylesheet" type="text/css" href="<%= process.env.BASE_URL || 'http://localhost:8080' %>/css/landingPage.css">

</head>

<body>
   
 <!-- Navbar Start -->
 <%- include (`../partials/header`); -%>
 <!-- Navbar End -->


<div class="login-page">
    <div class="form">
        <%- include ('../partials/messages'); -%>

        <form id="resetPasswordForm" class="login-form" action="/user/resetPassword/:resetToken" method="post">
               
            <h2 class="colors">Enter New Password</h2>

            <input type="password" name="newPassword" class="form-control" placeholder="Enter your password." >
            
            <input type="password" name="confirmPassword" class="form-control" placeholder="Re-enter your password." >
            <div id="message" class="error"></div>
            
            <button id="submitBtn" type="submit">Reset Password</button>
            <p class="message"><a href="/user/login">Oh I remembered!</a></p>
            
            <!-- Include animation elements here -->
            <ul class="animate">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </form>
    </div>
</div>


<script>
    // JavaScript
document.getElementById('resetPasswordForm').addEventListener('submit', async (event) => {
    event.preventDefault();

    const newPassword = document.getElementById('newPassword').value;
    const confirmPassword = document.getElementById('confirmPassword').value;

    if (newPassword !== confirmPassword) {
        displayMessage('Passwords do not match', 'error');
        return;
    }

    try {
        const response = await fetch('/user/resetPassword/:resetToken', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ customerNewPassword: newPassword })
        });

        const data = await response.json();

        if (response.ok) {
            displayMessage(data.message, 'success');
        } else {
            displayMessage(data.message, 'error');
        }
    } catch (error) {
        console.error('Error:', error);
        displayMessage('An error occurred. Please try again later.', 'error');
    }
});

function displayMessage(message, type) {
    const messageElement = document.getElementById('message');
    messageElement.textContent = message;
    messageElement.className = type;
}

</script>

    <!-- Footer Start -->
    <%- include (`../partials/footer`); -%>
    <!-- Footer End -->

</body>

</html>





