<!DOCTYPE html>
<html lang="en">

<head>
    <title>Korex StyleHub</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Korex StyleHub" name="keywords">
    <meta content="Korex StyleHub" name="description">

      <!-- Favicon -->
      <link href="../img/logo.PNG" rel="icon"> 

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../css/styles.css" rel="stylesheet">
</head>

<body>

     

    <div class="container-xxl position-relative bg-white d-flex p-0">
       
        <!-- Navbar Start -->
     <%- include (`../partials/merchantHeader`); -%>
     <!-- Navbar End -->

                            <!-- Product Start -->
   
     <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
    
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Products</h6>
                <div class="tab">
                    <a class="tablinks" onclick="openCity(event, 'All')" id="defaultOpen">All</a>
                    <a class="tablinks" onclick="openCity(event, 'In Stock')">In Stock</a>
                    <a class="tablinks" onclick="openCity(event, 'Low Stock')">Low Stock</a>
                    <a class="tablinks" onclick="openCity(event, 'Out of Stock')">Out of Stock</a>
                    <a class="tablinks" onclick="openCity(event, 'Draft')">Draft</a>

                   
                </div>
                <!-- <button type="button" class="btn btn-primary m-2">+ New Product</button> -->
                <button type="button" class="btn btn-primary m-2" id="newProductBtn">+ New Product</button>



                
                <!-- OPEN MODEL END  -->
            </div>
    
            <div id="All" class="tabcontent">
                <h3>All</h3>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td>KS093</td>
                                <td>11 Mar 2024</td>
                                <td>Samson Samuel</td>
                                <td>$123</td>
                                <td>Paid</td>
                                <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div id="In Stock" class="tabcontent">
                <h3>In Stock</h3>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td>KS093</td>
                                <td>11 Mar 2024</td>
                                <td>Samson Samuel</td>
                                <td>$123</td>
                                <td>Paid</td>
                                <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div id="Low Stock" class="tabcontent">
                <h3>Low Stock</h3>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td>KS093</td>
                                <td>11 Mar 2024</td>
                                <td>Samson Samuel</td>
                                <td>$123</td>
                                <td>Paid</td>
                                <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div id="Out of Stock" class="tabcontent">
                <h3>Out of Stock</h3>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td>KS093</td>
                                <td>11 Mar 2024</td>
                                <td>Samson Samuel</td>
                                <td>$123</td>
                                <td>Paid</td>
                                <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div id="Draft" class="tabcontent">
                <h3>Draft</h3>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td>KS093</td>
                                <td>11 Mar 2024</td>
                                <td>Samson Samuel</td>
                                <td>$123</td>
                                <td>Paid</td>
                                <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
          
            <!-- Product End -->
     <!-- Footer Start -->
     <%- include (`../partials/merchantFooter`); -%>
     <!-- Footer End -->

     <!-- Modal HTML -->
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header  (1/3) -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<!-- <h3 id="myModalLabel">Pop<span>mach</span></h3> -->
				</div>

				<!-- Modal Body (2/3) -->
				<div class="modal-body" id="serviceModalMultiStep">

					<!-- Progress Bar -->
					<div class="progress">
						<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 20%;">
						</div>
					</div>

					<!-- Tab Steps-->
					<div class="navbar" style="display: block;">
						<div class="navbar-inner">
							<ul class="nav nav-tabs nav-justified">
								<li class="active">
									<a href="#step1" data-toggle="tab" data-step="1">Information</a>
								</li>
								<li>
									<a href="#step2" data-toggle="tab" data-step="2">Specifications</a>
								</li>
								<li>
									<a href="#step3" data-toggle="tab" data-step="3">Image</a>
								</li>
								
							</ul>
						</div>
					</div>

					<!-- Tab Content -->
					<div class="tab-content">
						<!-- Tab 1 -->
						<div class="tab-pane fade in active" id="step1">
							<div class="well">
								<label>Product Name</label>
								<input type="text" class="form-control" name="" >
								
								<br>
								<label>Product Description</label>
								<textarea  name="w3review" class="form-control input-lg" rows="5"></textarea><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="size">Price ($)</label>
                                        <input type="text" name="ProductPrice" class="form-control" placeholder="Item price." >
                                    </div>
                                    <div class="col-md-6">
                                        <label for="color">Shipping ($)</label>
                                        <input type="text" name="ProductShipping" class="form-control" placeholder="Enter Shipping Fees." >
                                    </div>
                                </div>
                            </div>
						</div>

						<!-- Tab 2 -->
						<div class="tab-pane fade" id="step2">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-6">
                                        <% const sizeNames = ["XS","S", "M", "L", "XL", "2XL", "3XL", "4XL"]; %>
                                        <label for="size">Sizes</label>
                                        <select id="size" name="productSize" class="form-control">
                                            <option value="">Select Country</option>
                                            <% sizeNames.forEach((size )=> { %>
                                                <option value="<%- size  %>"><%- size  %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <% const colorNames = ["Black", "Rusty Red", "Olive Green", "Dark Green",
                                        "Navy Blue", "Indigo", "Charcoal", "Maroon", "Neon Orange","Khaki","Forest Green",
                                        "Dark Cyan","Blue","Slate Blue", "Gray", "Red", "Orange","Lime Green", "Sage Green",
                                        "Sky Blue", "Royal Blue","Purple", "Dark Gray", "Pink","Yellow","Light Yellow", 
                                        "Light Green","Light Blue", "Light Sky Blue","Silver","Light Pink","Peach",
                                        "Pale Yellow", "Light Lime","Light Cyan", "Light Purple", "White" ]; %>
                                        <label for="color">Colors</label>
                                        <select id="color" name="productColor" class="form-control">
                                            <option value="">Select Country</option>
                                            <% colorNames.forEach((colors )=> { %>
                                                <option value="<%- colors  %>"><%- colors  %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <% const genderType = ["Unisex","Male", "Female"]; %>
                                        <label for="color">Gender</label>
                                        <select id="color" name="productGender" class="form-control">
                                            <option value="">Select Country</option>
                                            <% genderType.forEach((gender )=> { %>
                                                <option value="<%- gender  %>"><%- gender  %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="color">Quantity</label>
                                        <input type="number" name="productQuantity" class="form-control">
                                    </div>
                                </div>
							</div>
						</div>

						<!-- Tab 3 -->
						<div class="tab-pane fade" id="step3">
                            <div class="well">
								<section>
                                   
                                      <div class="container">
                                        <div class="row">
                                          <div class="col-md-12">
                                            <div class="form-group">
                                              <label class="control-label">Upload File</label>
                                              <div class="preview-zone hidden">
                                                <div class="box box-solid">
                                                  <div class="box-header with-border">
                                                    <div><b>Preview</b></div>
                                                    <div class="box-tools pull-right">
                                                      <button type="button" class="btn btn-danger btn-xxs remove-preview">
                                                        <i class="fa fa-trash"></i> 
                                                      </button>
                                                    </div>
                                                  </div>
                                                  <div class="box-body"></div>
                                                </div>
                                              </div>
                                              <div class="dropzone-wrapper">
                                                <div class="dropzone-desc">
                                                  <i class="glyphicon glyphicon-download-alt"></i>
                                                  <p>Choose an image file or drag it here.</p>
                                                </div>
                                                <input type="file" name="img_logo" class="dropzone">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                  
                                        <div class="row">
                                          <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary pull-right">Upload</button>
                                          </div>
                                        </div>
                                      </div>
                                    
                                  </section>
                                  <script>
                                    function readFile(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      var htmlPreview =
        '<img width="200" src="' + e.target.result + '" />' +
        '<p>' + input.files[0].name + '</p>';
      var wrapperZone = $(input).parent();
      var previewZone = $(input).parent().parent().find('.preview-zone');
      var boxZone = $(input).parent().parent().find('.preview-zone').find('.box').find('.box-body');

      wrapperZone.removeClass('dragover');
      previewZone.removeClass('hidden');
      boxZone.empty();
      boxZone.append(htmlPreview);
    };

    reader.readAsDataURL(input.files[0]);
  }
}

function reset(e) {
  e.wrap('<form>').closest('form').get(0).reset();
  e.unwrap();
}

$(".dropzone").change(function() {
  readFile(this);
});

$('.dropzone-wrapper').on('dragover', function(e) {
  e.preventDefault();
  e.stopPropagation();
  $(this).addClass('dragover');
});

$('.dropzone-wrapper').on('dragleave', function(e) {
  e.preventDefault();
  e.stopPropagation();
  $(this).removeClass('dragover');
});

$('.remove-preview').on('click', function() {
  var boxZone = $(this).parents('.preview-zone').find('.box-body');
  var previewZone = $(this).parents('.preview-zone');
  var dropzone = $(this).parents('.form-group').find('.dropzone');
  boxZone.empty();
  previewZone.addClass('hidden');
  reset(dropzone);
});

                                  </script>
                                 
								
							</div>
						</div>
					</div>
				</div>

				<!-- Modal Footer (3/3) -->
				<div class="modal-footer">
					<div class="left-footer">
						<a class="btn btn-success first" href="#">Start over</a>
					</div>
					<div class="right-footer">
						<a class="btn btn-default back" href="#">Back</a>
						<a class="btn btn-default next" href="#">Next</a>
					</div>
					<!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> -->
					<!-- <button class="btn btn-primary">Save changes</button> -->
				</div>

		
		</div>
	</div>

<script>
$(document).ready(function() {
    // Function to open the modal when the button is clicked
    $("#newProductBtn").click(function() {
        $('#myModal').modal('show'); // Show the modal
    });

    // Rest of your existing JavaScript code here
    var nStep = 3;
    var firstTab = $("#myModal .tab-pane:first-child").attr("id");
    var prevTab = $("#myModal .tab-pane.active").prev().attr("id");
    var nextTab = $("#myModal .tab-pane.active").next().attr("id");
    var lastTab = $("#myModal .tab-pane:last-child").attr("id");

    $("#myModal .progress-bar").text("Step 1 of " + nStep);
    $("#myModal .back, #myModal .first").hide();

    // Manually trigger the shown.bs.tab event for the first tab
    $('[href="#' + firstTab + '"]').tab("show").trigger('shown.bs.tab');

    $("#myModal .next").click(function() {
        let nextId = $("#myModal .tab-pane.active").next().attr("id");
        $("#myModal [href='#" + nextId + "']").tab("show");

        $("#myModal .back, #myModal .first").css("display", "unset");
        if (nextId === lastTab) {
            $("#myModal .next").hide();
            // Show submit button
        }
        return false;
    });

    $("#myModal .back").click(function() {
        var backId = $("#myModal .tab-pane.active").prev().attr("id");
        $("#myModal [href='#" + backId + "']").tab("show");

        $("#myModal .next").css("display", "unset");
        if (backId === "step1") {
            $("#myModal .back, #myModal .first").css("display", "none");
        }
        return false;
    });

    $("#myModal .nav-tabs li:first-child").click(function() {
        $("#myModal .back, #myModal .first").css("display", "none");
        $("#myModal .next").css("display", "unset");
    });

    $("#myModal .nav-tabs li:not(:first-child)").click(function() {
        $("#myModal .back, #myModal .first").css("display", "unset");
    });

    $("#myModal .nav-tabs li:last-child").click(function() {
        $("#myModal .next").css("display", "none");
    });

    $("#myModal .nav-tabs li:not(:last-child)").click(function() {
        $("#myModal .next").css("display", "unset");
    });

    $('a[data-toggle="tab"]').on("shown.bs.tab", function(e) {
        let step = $(e.target).data("step");
        var percent = parseInt(step) / nStep * 100;

        $("#myModal .progress-bar").css({ width: percent + "%" });
        $("#myModal .progress-bar").text("Step " + step + " of " + nStep);
    });

    $("#myModal .first").click(function() {
        $("#myModal [href='#" + firstTab + "']").tab("show");
        $("#myModal .back, #myModal .first").css("display", "none");
        $("#myModal .next").css("display", "unset");
    });
});


</script>  
</body>

</html>